@font-face {
	font-family: "icons";

	src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff"),
		url("../fonts/icons.svg") format("svg");
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: "icons" !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
	content: "\e900";
}
.icon-instagram:before {
	content: "\e901";
}
.icon-twitter:before {
	content: "\e902";
}
.icon-Linkedin:before {
	content: "\e903";
}
