* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

@font-face {
  font-family: "Heboo";
  src: url("/fonts/Heebo-Regular.woff2") format("woff2"), url("/fonts/Heebo-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Heboo";
  src: url("/fonts/Heebo-Medium.woff2") format("woff2"), url("/fonts/Heebo-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Heboo";
  src: url("/fonts/Heebo-Bold.woff2") format("woff2"), url("/fonts/Heebo-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Heboo";
  src: url("/fonts/Heebo-Black.woff2") format("woff2"), url("/fonts/Heebo-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

html,
body {
  font-family: Heboo;
  line-height: 1;
  font-size: 16px;
  font-weight: 500;
  color: #21243d;
  background: #ffffff;
  height: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page {
  padding: 90px 0px 0px 0px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.container {
  max-width: 876px;
  margin: 0 auto;
  padding: 0 10px;
}

.ibg {
  position: relative;
}

.ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.title {
  font-size: 44px;
  font-weight: 700;
  line-height: 136.36364%;
}

.text {
  font-weight: 500;
  font-size: 16px;
  line-height: 143.75%;
}

.title-post {
  font-size: 22px;
  line-height: 150%;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background: #ff6464;
  color: white;
  font-size: 20px;
  line-height: 145%;
  border-radius: 2px;
  min-height: 47px;
  padding: 0px 20px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background 0.3s ease 0s;
  -o-transition: background 0.3s ease 0s;
  transition: background 0.3s ease 0s;
}

.button:hover {
  background-color: #f75959;
}

.header__content {
  max-width: 1051px;
  margin: 0 auto;
  padding: 0px 10px;
}

.menu__list {
  min-height: 82px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-transition: color 0.8s ease 0s;
  -o-transition: color 0.8s ease 0s;
  transition: color 0.8s ease 0s;
}

.menu__item:not(:last-child) {
  margin: 0px 25px 0px 0px;
}

.menu__link {
  font-size: 20px;
  font-weight: 500;
  color: black;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.menu__link:hover {
  color: red;
}

.hello {
  padding: 38px 0px 70px 0px;
}

.hello__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 762px) {
  .hello__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.hello__content {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 18px 110px 0px 0px;
}

.hello__content *:last-child {
  margin: 0;
}

@media (max-width: 853px) {
  .hello__content {
    padding: 18px 50px 0px 0px;
  }
}

.hello__title {
  margin-bottom: 25px;
}

.hello__text {
  margin-bottom: 35px;
}

.hello__avatar {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 243px;
          flex: 0 0 243px;
  height: 243px;
  border-radius: 50%;
  overflow: hidden;
  -webkit-box-shadow: -5px 13px 0px 0px #edf7fa;
          box-shadow: -5px 13px 0px 0px #edf7fa;
}

.hello__avatar img {
  max-width: 100%;
}

.recent-posts {
  background: #edf7fa;
  padding: 20px 0px 32px 0px;
}

.recent-posts__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.recent-posts__title {
  padding-right: 20px;
}

.recent-posts__view-all {
  color: #00a8cc;
  line-height: 143.75%;
}

.recent-posts__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -10px;
}

.recent-posts__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0 10px;
}

.recent-posts__item {
  height: 100%;
}

.recent-post {
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
          box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
  border-radius: 4px;
  padding: 24px 24px;
}

.recent-post__title {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: inherit;
  font-size: 26px;
  line-height: 146.15385%;
  font-weight: 700;
  margin-bottom: 25px;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.recent-post__title:hover {
  color: red;
}

.recent-post__info {
  font-size: 18px;
  line-height: 144.44444%;
  margin-bottom: 20px;
}

.recent-post__info span {
  margin: 0px 10px;
}

.featured-works {
  background: #ffffff;
  padding: 15px 0px 83px 0px;
}

.featured-works__title {
  margin-bottom: 22px;
  padding-right: 20px;
}

.works__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-bottom: 1px solid #e0e0e0;
  padding: 0px 0px 30px 0px;
}

.works__item:not(:last-child) {
  margin: 0px 0px 30px 0px;
}

.works__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 246px;
          flex: 0 0 246px;
  min-height: 180px;
}

.works__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 0px 0px 0px 16px;
}

.works__title {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: inherit;
  font-weight: bold;
  font-size: 30px;
  line-height: 146.66667%;
  margin-bottom: 15px;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.works__title:hover {
  color: red;
}

.works__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.works__year {
  background: #142850;
  border-radius: 16px;
  height: 25px;
  padding: 0px 10px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-weight: 900;
  font-size: 18px;
}

.works__category {
  color: #8695a4;
  font-size: 20px;
  line-height: 145%;
  margin-left: 25px;
}

.footer {
  padding: 50px 0px;
  margin-top: 83px;
}

.footer__container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.footer__social {
  margin-bottom: 26px;
}

.footer__copy {
  font-size: 14px;
  line-height: 150%;
}

/* ============================================================= */
.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social__item {
  color: #21243d;
  font-size: 30px;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.social__item:not(:last-child) {
  margin: 0px 35px 0px 0px;
}

.social .icon-facebook:hover {
  color: blue;
}

.social .icon-instagram:hover {
  color: #f72743;
}

.social .icon-twitter:hover {
  color: blue;
}

.social .icon-Linkedin:hover {
  color: blue;
}
