.hello {
	padding: 38px 0px 70px 0px;

	&__container {
		display: flex;
		@media (max-width: 762px) {
			flex-direction: column;
		}
	}

	&__content {
		align-items: flex-start;
		flex: 1 1 auto;
		padding: 18px 110px 0px 0px;
		*:last-child {
			margin: 0;
		}
		@media (max-width: 853px) {
			padding: 18px 50px 0px 0px;
		}
	}

	&__title {
		margin-bottom: 25px;
	}

	&__text {
		margin-bottom: 35px;
	}

	&__button {
	}

	&__avatar {
		flex: 0 0 243px;
		height: 243px;
		border-radius: 50%;
		overflow: hidden;
		box-shadow: -5px 13px 0px 0px #edf7fa;
		img {
			max-width: 100%;
		}
	}
}

.recent-posts {
	background: #edf7fa;
	padding: 20px 0px 32px 0px;
	&__container {
	}

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 20px;
	}

	&__title {
		padding-right: 20px;
	}

	&__view-all {
		color: #00a8cc;
		line-height: 23 / 16 * 100%;
	}

	&__items {
		display: flex;

		margin: 0px -10px;
	}

	&__column {
		flex: 0 1 50%;
		padding: 0 10px;
	}

	&__item {
		height: 100%;
	}
}

.recent-post {
	background: #ffffff;
	box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
	border-radius: 4px;
	padding: 24px 24px;

	&__title {
		display: inline-flex;
		color: inherit;
		font-size: 26px;
		line-height: 38 / 26 * 100%;
		font-weight: 700;
		margin-bottom: 25px;
		transition: color 0.3s ease 0s;
		&:hover {
			color: red;
		}
	}

	&__info {
		font-size: 18px;
		line-height: 26 / 18 * 100%;
		span {
			margin: 0px 10px;
		}
		margin-bottom: 20px;
	}

	&__text {
	}
}

.featured-works {
	background: #ffffff;
	padding: 15px 0px 83px 0px;

	&__title {
		margin-bottom: 22px;
		padding-right: 20px;
	}
}
