.title {
	font-size: 44px;
	font-weight: 700;
	line-height: 60 /44 * 100%;
}

.text {
	font-weight: 500;
	font-size: 16px;
	line-height: 23 / 16 * 100%;
}

.title-post {
	font-size: 22px;
	line-height: 150%;
}

.button {
	display: inline-flex;
	background: #ff6464;
	color: white;
	font-size: 20px;
	line-height: 145%;
	border-radius: 2px;
	min-height: 47px;
	padding: 0px 20px;
	text-align: center;
	justify-content: center;
	align-items: center;
	transition: background 0.3s ease 0s;
	&:hover {
		background-color: #f75959;
	}
}
